.header2 {
    margin: 24px 0;
    display: flex;
    flex-direction: row;
  
    align-items: center;
    justify-content: space-around;
    padding: 8px 0;
}
.logo{
    margin-left: -120px;
    font-weight: bold;
}
.nav {
    display: flex;
    align-items: center;
    margin-left: -84px;
    
}

    
.navLinks {
    margin-right: 8px;
    text-decoration: none;
    color:black;
    
}
.leftNav {
    display:flex;
    align-items: center;
    margin-right: -130px;
    
}
.leftNav a {
    
    text-decoration: none;
   
}
.header2icon{
    margin-right: 16px;
    color: blue;
}
   .iconUser{
    margin-right: 8px;
}
.iconSearch{
    margin-left: 16px;
}
