.best-seller-products {
  padding: 20px;
  background-color: #f5f5f5;
  height:80vh;
  width: 80%;
  margin:60px auto;
  border: 1px solid #ccc;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.product-card {
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 10px;
}

.product-details {
  padding: 10px;
}

.description {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.load-more {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.load-more:hover {
  background-color: #0056b3;
}
