
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns of equal width */
    grid-gap: 10px; /* Gap between grid items */
    /* align-content: stretch; Stretch items to fill container height */
    min-height: 400px;
    margin: 0 120px;
    margin-top: 80px;
    
  }
  
  .leftContainer {
    grid-column: 1 / 2; /* Card 1 occupies the first column */
  }
  
  .rightContainer {
    display: grid;
    grid-template-rows: auto auto; /* Two rows */
    grid-gap: 10px; /* Gap between grid items */
    grid-column: 2 / 3; /* Cards 2, 3, and 4 occupy the second column */
    align-content: stretch; /* Stretch items to fill container height */
  }
   
  .card2 {
    grid-row: 1 / 2; /* Card 2 occupies the first row */
  }
  
  .card3,
  .card4 {
    grid-row: 2 / 3; /* Cards 3 and 4 occupy the second row */
  }
  .card4{
    margin-left: -340px;
  }
  .apiImages{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  .headerText{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 60px;
  }
  .headerText, .headerTexth4, .headerTexth1, .headerTextp{
    margin-bottom: -8px;
  }
  /* Container styling */
.brands {
  display: flex;
  justify-content: center;
  gap: 20px; /* Add some space between the brand items */
  margin: 60px auto;
}

/* Brand item styling */
.brands > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Image styling */
.brands img {
  max-width: 100%; /* Ensure images fit within their container */
  height: auto;
  margin-bottom: 10px; /* Space between image and heading */
}

/* Heading styling */
.brands h2 {
  margin: 10px 0; /* Space around the heading */
}

/* Paragraph styling */
.brands p {
  width: 250px; /* Adjust width to achieve three lines for the longest text */
  margin: 0 auto;
  font-size: 16px; /* Adjust font size if needed */
  line-height: 1.2; /* Adjust line height if needed */
}
.headerTextblue{
  color:blue;
  margin-bottom: -8px;
}
/* Container styling */
.featuredPostImg {
  display: flex;
  justify-content: space-between; /* Ensure space between the columns */
  gap: 20px; /* Add gap between the columns */
  padding: 20px;
  margin: 0 120px;
}

/* Child divs styling */
.featuredPostImg > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%; /* Ensure each column takes up equal space */
}

/* Image styling */
.featuredPostImg img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Text styling */
.featuredPostTxt {
  
  /* display: flex; */
  /* text-align: center; */
  align-items: center;
  justify-content: left;
  /* margin-left: 40px; */
}

.p1, .p2 {
  margin: 10px 0;
  width: 250px; /* Adjust width to achieve three lines for the longest text */
  /* margin: 0 auto; */
  font-size: 16px; /* Adjust font size if needed */
  line-height: 1.2;
}
.p1 a,
.p1 span {
    margin-right: 20px; /* Add margin between each element */
}
h4 {
  margin: 10px 0;
  font-size: 18px;
}

/* Icon styling */
.icon {
  margin-right: 5px;
}

/* Link styling */
.link {
  text-decoration: none;
  font-weight: bold;
  color:black;
}
.googlelink{
  color: blue; 
}

.link:hover {
  text-decoration: underline;
}

/* Additional styling for date and comments */
.featuredPostTxt div span {
  display: inline-flex;
  align-items: center;
  margin: 10px 5px; /* Space between the spans */
}

/* Styling for the "Learn More" section */
.featuredPostTxt div p {
  margin: 10px 0;
  font-weight: bold;
  cursor: pointer;
  display: flex; /* New */
  align-items: center; /* New */
}

.featuredPostTxt div p span {
  margin-left: 5px;
}
.featuredPostTxt div span {
  display: inline-flex;
  align-items: center;
  /* margin: 10px 10px; Space between the icon and text */
  margin-right: 24px;
}

/* Icon styling */
.icon {
  margin-left: -6px; /* Space between the icon and text */
}
.learnmore{
padding-left: 10px;
color: blue;
}

.sayAboutUs {
  display: flex;
  flex-direction: row;
  gap: 20px; /* Space between columns */
  padding: 20px;
  width:74%;
  min-height:400px;
  margin: auto;
  margin-top: 64px;
}

.containerLeft,
.containerRight {
  flex: 1; /* Ensure both containers take equal width */
}

.containerLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 45%;
  height: 100%;
  margin-top: 34px;
  margin-left: -60px;
}

.profilecard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileImg {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  border-radius: 50%;
  margin-bottom: 10px;
}

.profilecard span {
  margin: 10px 0;
}

.profilecard p {
  margin: 10px 0;
  max-width: 380px; /* Adjust width to achieve three lines for the longest text */
  /* margin: 0 auto; */
  font-size: 16px; /* Adjust font size if needed */
  line-height: 1.2;
}

.profilecard h5 {
  margin: 5px 0;
}

.containerRight {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between rows */
}

.containerRight .row1unsplash,
.containerRight .row2unsplash,
.containerRight .row3unsplash {
  display: flex;
  gap: 10px; /* Space between images */
  /* max-width: 45%; */
  height: 100%;
}
.row1unsplash, .row2unsplash, .row3unsplash{
  margin-bottom: -34px;
}
.containerRight img {
  flex: 1;
  object-fit: cover;
  width: 55%;
  height: 80%;
  border-radius: 5px; /* Optional: to give images a slightly rounded look */
  margin-bottom: -20px;
}
/* experienceBg{
  background-image: url("../../images/hmBg.png");
  width: 100%;
  height:300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
} */
.experience {
  position: relative;
  width: 100%;
  height: 70vh; /* or any desired height */
  overflow: hidden;
  margin-top: 64px;
}

.experienceBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure the background image stays behind the text */
}

.experienceTxt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  z-index: 1; /* Ensure the text is above the background image */
}

.experienceTxt p,
.experienceTxt h3,
.experienceTxt h4,
.experienceTxt button {
  margin: 10px 0; /* Adjust as needed */
}
.experienceTxt h4{
  color:blue;
  font-size: 44px;
  font-weight: bold;
}
.experienceTxt h3{
  color:black;
  font-size: 60px;
  font-weight: bolder;
}
.bluetxt {
  color: blue; /* Make the text blue */
}

.graytxt {
  color: gray; /* Make the text gray */
  max-width: 300px;
  line-height: 1.2rem;
  font-size: 12px;
}
.ctaBtn{
  padding: 10px 40px;
  background-color: blue;
  color: white;
  border: 1px solid blue;
}
.BestSeller{
  background-color: #fafafa;
  width: 1440px;
  height:1086px;
  justify-content: center;
  align-items: center;
  margin: auto 60px;
  
  }
  .BestSellerItems{
      width: (1,124px)px;
  height: (1,086px)px;
  left: 195px;
  padding: 48px 0px 48px 0px;
  gap: 24px;
  opacity: 0px;
  
  }